<ion-header>
    <ion-toolbar color="tertiary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>ABOUT US</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <br>
    <div style="margin-left: 4vw;">
        <span style="font-weight: bolder;">
      <h3 class="ion-text-center">
        EGAL TECHNOLOGIES
      </h3>
    </span>
    </div>
    <div style="margin-left: 4vw; margin-right: 4vw; justify-content: space-evenly;">
        <span> EGAL Technologies has been brought into existence in 2019 by some fresh, energetic and innovative minds which
      brings together experience integration of technical, business and marketing experts all in one plate. Our aim to
      bring out your business routines and limits out of the boundaries that you have created in your minds. We are here
      to transform, automate and spread your idea globally and help you to grow exponentially with the help of magical
      powers of digital world. We have been constantly working hard to deliver and provide the best quality products and
      services using the latest cutting-edge technologies so that our customer should never be away from the
      competition. Customer satisfaction has always been the priority as we grow only when our customer grows. So, join
      us and allow us to build for you the best in market all round platform independent digital solutions so that you
      always shine unique among your competitors. We have got various technical, business and marketing expertise
      leaders with highly enthusiastic and creative personnel which can eventually do the things for your business that
      seems difficult and impossible.
      <br>

      <p style="font-size: 18px;">CONTACT US AT: egaltechnologies@gmail.com</p>
    </span>
    </div>
</ion-content>