.order-block {
    display: block;
    width: 96%;
    min-height: 8vh;
    background-color: #1b1b1b;
    margin: 1vw 1vh;
}

.div-outlet {
    margin-top: -1vh;
    padding-bottom: 1vh;
    border-bottom: 1px solid white;
}

.div-items {}

.item-head {
    margin-left: 1vw;
    font-size: 12px;
    color: rgb(189, 189, 189);
    margin-bottom: 1vh;
}

.item-value {
    margin-left: 1vw;
    font-size: 14px;
    margin-top: 0;
}