<ion-header>
    <ion-toolbar color="tertiary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/mixers"></ion-back-button>
        </ion-buttons>
        <ion-title>NEWS</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <br>
    <div style="margin-left: 4vw;">
        <span style="font-weight: bolder; margin-left: 2vw;">
      <h3>
        {{ notif.desc1 }}
      </h3>
    </span>
    </div>
    <div style="margin-left: 4vw;">
        <span> {{ notif.desc2 }}</span>
    </div>
</ion-content>