<ion-header>
    <ion-toolbar color="tertiary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/dashboard"></ion-back-button>
        </ion-buttons>
        <ion-title><span style="float: left; width: 80%; text-align: left;">ADD MIXER</span>
            <span (click)="skipMixers()" style="float: left; width: 20%; text-align: right;">
        SKIP
      </span>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <div class="flex-container">


        <div *ngFor="let item of mixers" class="block-container">
            <div class="mixer-text" (click)="openModalCount(item)">{{item.NAME}}</div>
            <div (click)="openModalCount(item)">₹ {{item.PRICE}}</div>
            <div (click)="openModalCount(item)" *ngIf="item.quantity != null" style="color: rgb(251, 55, 55);">x {{item.quantity}}</div>
            <div>
                <ion-icon (click)="removeSelection(item)" *ngIf="item.closeEnable" style="color: skyblue; font-size: 14px;" name="close-circle-outline"></ion-icon>
            </div>
        </div>
    </div>

    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Loading data...">
        </ion-refresher-content>
    </ion-refresher>

</ion-content>

<ion-footer style="background-color: #1b1b1b;" class="bar-stable ion-text-center">
    <ion-button color="tertiary" class="mixer-footer" (click)="proceed()" expand="full">PROCEED</ion-button>


</ion-footer>